############################
#  CMAKE SPECIFIC IGNORES  #
############################
CMakeFiles/
CMakeScripts/
_deps/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeUserPresets.json

###########################
#  MAKE SPECIFIC IGNORES  #
###########################
Makefile

#############################
#  CLANGD SPECIFIC IGNORES  #
#############################
.cache/

##############################
#  PROJECT SPECIFIC IGNORES  #
##############################
bin/
build/

#############################
#  EDITOR SPECIFIC IGNORES  #
#############################
.vscode/
.idea/

#########################
#  OS SPECIFIC IGNORES  #
#########################
.DS_Store
Thumbs.db
desktop.ini
